<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load the properties file :sport.properties -->
    <context:property-placeholder location="classpath:sport.properties"/>
    
    
    <!-- Define your beans here -->
    <bean id="myFortuneService" class="com.luv2code.springdemo.HappyFortuneService">
    </bean>
    
    
    <bean id="myRandomFortuneService" class="com.luv2code.springdemo.RandomFortune">
    </bean>
    
    <bean id="mycoach" class="com.luv2code.springdemo.Trackcoach">
    <!--  Constructor Injection -->
    <constructor-arg ref="myFortuneService" />
    </bean>
    
    
    
    <bean id="mygolfcoach" class="com.luv2code.springdemo.GolfCoach">
    <!--  Constructor Injection -->
    <constructor-arg ref="myRandomFortuneService" />
    </bean>
    
    
    <!-- Setting up setter Injection -->
    <bean id="myCricketCoach" class="com.luv2code.springdemo.CricketCoach">
    <property name="fortuneService" ref="myFortuneService"></property>
    <!-- property name will call the set<PropertyName> method -->
    <!-- Here setFortuneService(myFortuneService) will be called -->
    
    <!-- Injecting Literal values -->
    <property name="emailAddress" value="${foo_email}" />
    <property name="team" value="${foo_team}"/>
    <!-- Based on the property names the setter methods are called -->
    <!-- Here setEmailAddress and setTeam will be called -->
    </bean>
    
    
    
    
</beans>





